.logo{
    font-size:21px;

}
.login-main{
   display:flex;
   flex-direction: column;
}
.login-header{
    padding:50px;
    padding-top:70px;
    text-align: center
}
.loginBtn :hover{
    background-color: #006097
}

.login-link{
    font-weight: 600;
    line-height: 1.5;
    color: #0073b1;
}
.logo{
    color:#0577B5
}



.signup-btn {
    border-radius: 20px;
    width: 100%;
  height: 30px;
  border: none;
  border-radius: 30px;
  color: white;
  background-color:#004282;
  font-weight: 500;
  letter-spacing: 1px;
  padding:20px;
 
  display:flex;
  flex-flow:column;
  align-items:center
  }

  .google-btn{
  border-radius: 20px;
  width: 100%;
  height: 30px;
  border: 2px solid #004282;;
  border-radius: 30px;
  color:  #004282;
  background-color:white;
  font-weight: 500;
  letter-spacing: 1px;
  padding:20px;
 
  display:flex;
  flex-flow:column;
  align-items:center}

 
