.single-course p:first-of-type {
    font-size: 0.9em;

  }

  .single-course p:nth-of-type(2){
    font-size: 0.7em;
    
  }

  .big-single-course p:first-of-type {
    font-size: 1.5em;

  }

  .big-single-course p:nth-of-type(2){
    font-size: 1.3em;
    
  }