.carousel-item{
    max-height: 268px;
    height: 268px;
 
 
}

.carousel-caption{
  max-width: 698px;
}

.bg-image {
    
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    filter: brightness(0.5)
  }

  .text-near-badge{

    color: rgba(255,255,255,.7);
    font-size:14px;

  }
  .goal-parent{
      
      width:100%;
      height:100%;
      
      margin:30px;
      padding:0px;
      position:relative
  }

  #goal-progress{

width:100%;


}
#goal-cup{
    font-size: 6rem;
    color: #DAE0E3;
    position: absolute;
    top: 25%;
    left: 25%;
    bottom: 25%;
    right: 25%;
    z-index:99
   
}

.myprogress-home  .nav.nav-tabs{
 border:none;
 color:gray
}


.myprogress-home .nav-tabs .nav-link.active
{
font-weight:bold;
border:none;
border-bottom:2px solid #046097;
color:#046097}

.myprogress-home a{
  color:#6C767C;
  font-weight:bold;
  font-size:14px
}
