.me .btn-primary.dropdown-toggle {
    color: #0973B1;
    font-weight:bold;
    background-color: transparent;
    border-color:transparent;
    width:77px;
    height:32px;
    padding:0px;
    margin:0px
}

 .me .btn-primary.dropdown-toggle:focus {
    box-shadow:none;
}

.me.dropdown.show{
    box-shadow:none;
    background-color:transparent;
    border:none;
}

.btn-primary.dropdown-toggle:not(.disabled):not(.disabled):active{
    box-shadow:none;
    background-color:transparent;
    border:none;
    color: #0973B1;
}
.me .btn-primary.dropdown-toggle:hover {
    background-color:#cce9f9;
    color:#0973B1
}


.SaveButton{
    background-color:transparent;
     color: #0973B1;
     border:none;
     font-size:14px;
     font-weight:bold
  }
  .SaveButton:hover{
    background-color:#cce9f9;
    color:#0973B1
    
  }
  .SaveButton:focus{
    background-color:#cce9f9;
    color:#0973B1;
    border:none
    
  }

  .myLearning  .nav.nav-tabs{
    border:none;
    color:gray
   }
   
   
   .myLearning .nav-tabs .nav-link.active
   {
   font-weight:bold;
   border:none;
   border-bottom:2px solid #046097;
   color:#046097}
   
   .myLearning a{
     color:#6C767C;
     font-weight:bold;
     font-size:14px
   }



   .skill-form-element{
    border-radius: 16px;
   
    width:400px

   }

   .skill-form-element:focus{

    border: 2px solid #0573B1;
   
   }


    .skillset-tags-me {
    color: #666666;
    font-size: 14px;
    margin-right:3px;
  margin-left:3px;

    border: 1px solid #e6ecf1;
    border-radius: 50rem !important;
 
   background-color: #e6ecf1
    

 

}

.skillset-tags-me:hover {
cursor:pointer
  

}

.skillset-tags-me a {
    color: #666666;
    font-size: 16px;
    margin-right: 10px;
  

}

.skill-set-tags-fill{
  background-color:#485D69;
  color: #ffffff;
  font-size: 16px;
  margin-right:3px;
  margin-left:3px;
  border: 1px solid #e6ecf1;
  border-radius: 50rem !important;

  padding-left:10px;
  padding-right:10px;


}

.skillset-tags-fill a {
  
  color: #ffffff;
  font-size: 14px;
 


}

.skillset-tags-fill:hover {
  cursor:pointer
    
  }

  .skillset-wrap{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: flex-start;
  }
 
 