.navbar{
    background-color:#FFFFFF;
    font-size:12px;
    
   
}


.me .btn-primary {
    color: #fff;
    background-color: transparent;
    border-color:transparent;
    width:53px;
    height:53px;
}


.navbar p{
   color:#0009;
   font-weight:bold;
}
.navbar-logo{
    font-size:24px ;
    display: block;
	margin: auto;
	fill: #0009;
}

.navbar-logo:active {
	fill: #000;
}
.search.form-control {
   
    width: 80%;
  
    border: none;
    background-color:transparent
  

}

.search-wrap{
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    width:50%;
    background-color:#E9E9E9;
    padding:10px;
}

.me p{


    color:#0009;
    font-weight:bold;
 
}
.MuiAvatar-root {
    width: 24px!important;
    height: 24px !important;
}

