.navbar{
    background-color:#FFFFFF;
    font-size:12px;
    max-height: 52px;
    z-index:999999;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    
 
    
   
}


.me .btn-primary {
    color: #fff;
    background-color: transparent;
    border-color:transparent;
    width:53px;
    height:53px;
}


.navbar p{
   color:#0009;
   font-weight:bold;
}
.navbar-logo{
    font-size:20px ;
    display: block;
	margin: auto;
	fill: #0009!important
}

.navbar-logo:active {
	fill: #000;
}
.search.form-control {
   
    width: 85%;
  
    border: none;
    background-color:transparent
  

}
.search.form-control:focus {
   
    border: none;
  box-shadow: none;

}

.search-wrap{
    border: none;
    border-radius: 0.25rem;
    width:30%;
    max-height:39px;
    background-color:#E9E9E9;
  
}

.me p{


    color:#0009;
    font-weight:bold;
 
}
.navbar .MuiAvatar-root {
    width: 20px!important;
    height: 20px !important;
}

.carousel .MuiAvatar-root {
    width: 35px!important;
    height: 35px !important;
}

