.player-col{
    height:50vh
}

.learn  .nav.nav-tabs{
    border:none;
    color:gray;
    
   
    
   }
   
   
   .learn .nav-tabs .nav-link.active
   {
   font-weight:bold;
   border:none;
   border-bottom:2px solid #046097;
   color:#046097;
   }
   
   .learn a{
     color:#6C767C;
     font-weight:bold;
     font-size:14px;
     margin-right:50px;
   }

   .showAll-tags{
    color: #287EB8
   }
 

 .icons{ font-size:24px;
    color:#666666}

    ul.related-to-course li{
        list-style:none;
     
        
    }
    ul.related-to-course li p{
       font-size:14px;
       margin-left:10px;
       font-weight:bold;
       display:inline
     
        
    }

    .instructor .MuiAvatar-root {
        width: 56px!important;
        height: 56px !important;
    }


    .skillset-tags {
        color:#666666;
        font-size:16px;
       

    }
    .skillset-tags a{
        color:#666666;
        font-size:16px;
        border:1px solid #666666;
        border-radius:50rem !important; ;
        margin-right:10px;
        padding:10px;

    }



    .noManualResize {
        resize: none;
    }

    .a-tags{
 
        color:#262626}
    
        .a-tags:hover {
            cursor:pointer
        }

        .profilePic-mini{
            height: 20px;
            width: 20px;
        
            display: inline-block;}

            .CommentCard .card-header{
                border-bottom:none
            }
    
            .general-font{
                font-size:14px;
            
            }
