.navbar{
    background-color:#FFFFFF;
    font-size:12px;
    max-height: 57px;
    z-index:999999;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    
 
    
   
}


.me .btn-primary {
    color: #fff;
    background-color: transparent;
    border-color:transparent;
    width: fit-content!important;
    height: auto!important
  
}


.navbar p{
   color:#0009;
   font-weight:bold;
}
.navbar-logo{
    font-size:20px ;
    display: block;
	margin: auto;
	color: #0009!important;
 
}

.search-wrap .navbar-logo{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 5px;
}

.navbar-logo:active {
	fill: #000;
}
.search.form-control {
   
    width: 85%;
  
    border: none;
    background-color:transparent
  

}
.search.form-control:focus {
   
    border: none;
  box-shadow: none;

}

.search-wrap{
    border: none;
    border-radius: 0.25rem;
    width:30%;
    max-height:39px;
    background-color:#E9E9E9;position:relative;
    padding-left:5px;
  
}

.me p{


    color:#0009;
    font-weight:bold;
 
}
.navbar .MuiAvatar-root {
    width: 16px!important;
    height: 16px !important;
    display: flex!important;
}

.carousel .MuiAvatar-root {
    width: 35px!important;
    height: 35px !important;
    display: flex!important;
}
.navbar-collapse {
    flex-grow: 0;}

.profile-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log-out:hover{
cursor:pointer;
color: #0E73B1;


}





@media (max-width:992px) {
 .navbar-collapse {
    background-color:white;
    padding:5px;
    }
    .navbar-collapse a  svg{
        display:inline;
        margin-right:30px;
       


    
      

        }
        .navbar-collapse a  {
            display:block;
            padding:5px;
      
    
            }
        .navbar-collapse a p {
         display:inline
    
            }


}
